body{
  background-color: white;
}

.simbolika-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 118px;
  align-items: center;
}

.gerbi{
  display: flex;
  flex-direction: column;
  padding-top: 66px;
  align-items: center;
  gap: 50px;
  width: 100%;
}

.file-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.file-line{
  display: flex;
  gap: 20px;
}

.file-box{
  width: 478px;
  height: 55px;
  border-radius: 10px;
  border: 1px solid #E9E9E9;
  padding: 21px 15px 18px 19px;
}

.download{
  width: 193px;
  height: 55px;
  border: 1px solid #E9E9E9;
  cursor: pointer;
  padding: 15px 26px 14px 27px;
  border-radius: 10px;
  background-color: white;
}

.button-name{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}


.download:hover{
  background-color: #003399;
  transition: all 0.2s ease-in;
}

.download:hover .name{
  color: white;
  transition: all 0.2s ease-in;
}

.download:hover .pdf-file path{
  fill: white;
  transition: all 0.2s ease-in;
}

.gerbi-container{
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 50px;
  padding-top: 30px;
  align-items: center;
}

.popup-box{
  cursor: pointer;
}

.popup-text{
  color: red;
  text-decoration: underline;
  font-size: 12px;
  font-family: bpg-mrgvlovani;
}

.flag-container{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 39px;
  padding-top: 84px;
}

.anthem-container{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding-top: 38px;
  padding-bottom: 80px;
  gap: 40px;
}

.adress{
  width: 596px;
  height: auto;
}

.adress-text{
  font-family: bpg-mrgvlovani;
  font-size: 12px;
  text-align: center;
}

.adress-box{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 222px;
}


.popup {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 739px;
  height: 402px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  background-color: #fff;
  z-index: 1000;

}

.poup-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  gap: 34px;
}


.popup.active {
  display: block; 
}
.overlay {
  display: none; 
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.overlay.active {
  display: block; 
}

.popup-name{
  font-family: bpg-mrgvlovani;
  color: red;
  width: 100%;
  text-align: center;
  font-size: 14px;
}

.popup-form-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 659px;
  height: 162px;
  margin-left: 40px;
}

.popup-form-line{
  display: flex;
  align-items: center;
  gap: 23px;
  width: 100%;
}

.popup-form-box{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form{
  width: 318px;
  height: 45px;
  border: 1px solid #E9E9E9;
  outline: none;
  padding-left: 10px;
  border-radius: 10px;
}

.label{
  font-family: mrglovani-regular;
  font-size: 12px;
  font-weight: 100;
}

.checkbox-line{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 33px;
}

.checkbox-container{
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.send-request{
  display: flex;
  width: 250px;
  height: 40px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: mrglovani-regular;
  font-size: 12px;
  cursor: pointer;
  margin-left: 244px;
  background-color: #003399;
  border: none;
}

.adress-mail{
  color: #003399;
  font-family: bpg-mrgvlovani;
  font-size: 12px;
}


@media (max-width:1090px) {
  .simbolika-container{
    padding-top: 48px;
  }
}

@media (max-width:768px) {
  .simbolika-container{
    padding-top: 48px;
  }

  .file-container{
    gap: 20px;
    width: 100%;
  }


  .file-line{
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .file-box{
    width: 100%;
    height: auto;
  }

  .anthem-img{
    width: 420px;
  }


  .popup {
    height: auto;
    width: 420px;
  }

  .poup-container{
    height: auto;
    padding-top: 20px;
    padding-bottom: 30px;
    gap: 14px;
  }

  .popup-form-line{
    flex-direction: column;
    gap: 10px;
  }

  .popup-form-box{
    gap: 6px;
  }

  .form{
    height: 35px;
    border-radius: 5px;
  }

  .popup-form-container{
    width: auto;
    height: auto;
    margin-left: 0%;
    gap: 10px;
  }

  .checkbox-container{
    justify-content: center;
    gap: 13px;
  }

  .send-request{
    margin:0px auto;
  }
}

@media (max-width:425px) {


  .anthem-img{
    width: 310px;
  }

  .popup {
    height: auto;
    width: 310px;
  }

  .form{
    width: 280px;
  }
}
