.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slider-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider-page {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
  width: 100%;
  flex-shrink: 0;
}

.grid-card {
  background-color: #ffffff;
  border-radius: 5px;
}

.prev-btn:hover path{
  fill: #003399;
}

.next-btn:hover path {
  fill: #003399;
}

.pagination {
  display: flex;
  gap: 5px;
  width: 190px;
  justify-content: space-between;
  align-items: center;
}

.pagination-button{
  cursor: pointer;
}

.pagination-button:hover path{
  fill: #003399;
}


.pagination-dot {
  color: black;
  cursor: pointer;
  font-family: "BPG Mrgvlovani";
  color: #929395;
}

.pagination-dot.active {
  color: #003399;
}

@media (max-width:1235px) {
  .slider-page{
    display: flex;
    flex-wrap: wrap;   
    justify-content: center;
  }
  
}

