.borjomi{
  padding-top: 118px;
  padding-bottom: 91px;
}

.borjomi-container{
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.municipality-name{
  display: flex;
  align-items: center;
}

.text-page{
  width: 100%;
  border-radius: 10px;
  border: 1px solid #E9E9E9;
  padding-top: 79px;
  padding-left: 50px;
  background-color: white;
}

.about-logo{
  display: flex;
  align-items: center;
  gap: 80px;
  margin-bottom: 90px;
}

.logo-text{
  width: 554px;
  height: auto;
}

.about-flag{
  display: flex;
  align-items: center;
  gap: 65px;
  margin-bottom: 63px;
}

.flag-text{
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 554px;
}

.file-line{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.file-box{
  width: 351px;
  height: 55px;
  border-radius: 10px;
  border: 1px solid #E9E9E9;
  padding: 21px 15px 18px 19px;
}

.download{
  width: 193px;
  height: 55px;
  border: 1px solid #E9E9E9;
  cursor: pointer;
  padding: 15px 26px 14px 27px;
  border-radius: 10px;
  background-color: white;
}

.button-name{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}


.download:hover{
  background-color: #003399;
  transition: all 0.2s ease-in;
}

.download:hover .name{
  color: white;
  transition: all 0.2s ease-in;
}

.download:hover .pdf-file path{
  fill: white;
  transition: all 0.2s ease-in;
}

.popup-text{
  font-family: mrglovani;
  font-size: 10px;
  color: red;
  text-decoration: underline;
  cursor: pointer;
}

.text-box{
  width: 100%;
  padding-left: 22px;
  padding-right: 76px;
  padding-bottom: 68px;
}

.back{
  color: #A4A4A4;
  transition: color 0.2s ease-in;
}

.back:hover{
  color: #003399;
}

.social-box{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.social-links{
  display: flex;
  gap: 39px;
  align-items: center;
}

.social{
  display: flex;
  list-style: none;
  gap: 21px;
}

.svg-link:hover .svg path{
  fill: #003399;
  transition: fill 0.2s ease-in;
}

@media (max-width:1089px) {

  .about-logo {
    flex-direction: column;
    gap: 40px;
  }

  .about-flag{
    flex-direction: column;
    gap: 40px;
  }

  .borjomi{
    padding-top: 240px;
  }
  
}

@media (max-width:768px) {
  .borjomi{
    padding-top: 48px;
  }


  .file-line{
    flex-direction: column;
    justify-content: center;
    gap: 15px;
  }

  .download{
    background-color: #003399;
  }

  .pdf-file path{
    fill: white;
  }

  .about-logo{
    margin-bottom: 50px;
  }

  .logo-text{
    width: 90%;
  }

  .flag-text{
    width: 90%;
  }

  .text-box{
    width: 90%;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 80px;
  }

  .file-box{
    width: 310px;
  }

  .text-page{
    padding-left: 0%;
  }
  
}

@media (max-width:424px) {

  .social-box{
    flex-direction: column;
    gap: 20px;
  }

  .file-box{
    height: auto;
    width: 270px;
  }

  img{
    width: 310px;
    height: auto;
  }

  .text-box{
    padding-left: 10px;
    padding-right: 10px;
  }
  
}