.contact-page-section{
  padding-top: 118px;
  padding-bottom: 150px;
}

.contact-page-box{
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

.conection-page-box{
  width: 100%;
  height: 179px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: white;
  padding-left: 80px ;
}

.adress-page-box{
  display: flex;
  align-items: center;
  height: 85.5px;
  width: auto;
  padding-right: 76.5px;
  border-right: 1px solid #003399;
}

.adress-page-container{
  display: flex;
  width: 200px;
  height: 38px;
  justify-content: space-between;
}

.logo{
  width: 29px;
  height: 29px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #003399;
}

.text-box{
  width: 151px;
}

.mail-page-box{
  display: flex;
  align-items: center;
  height: 85.5px;
  padding-left: 75.5px;
  padding-right: 99.5px;
  border-right: 1px solid #003399;
}

.mail-page-container{
  display: flex;
  align-items: center;
  width: 203px;
  height: 38px;
  justify-content: space-between;
}

.phone-page-box{
  display: flex;
  align-items: center;
  height: 85.5px;
  padding-left: 75.5px;
}

.phone-page-container{
  display: flex;
  align-items: center;
  width: 134px;
  height: 38px;
  justify-content: space-between;
}

.map-box{
  width: 100%;
  height: 236px;
  border-radius: 10px;
}

.map{
  width: 100%;
  height: 100%;
}

.tel{
  font-size: 14px;
  font-family: FiraGo-regular;
  font-weight: 100;
}

iframe{
  border-radius: 10px;
}

@media (max-width:1090px) {
  .contact-page-section{
    padding-top: 240px;
  }


  .conection-page-box{
    flex-direction: column;
    gap: 20px;
    height: auto;
    width: 700px;
    padding: 0%;
  }

  .adress-page-box{
    padding: 0%;
    border-right: none;
    border-bottom: #003399 1px solid;
  }

  .mail-page-box{
    padding: 0%;
    border-bottom: #003399 1px solid;
    border-right: none;
  }

  .phone-page-box{
    padding: 0%;
  }

  .map-box{
    height: 500px;
  }
}

@media (max-width:768px) {
  .conection-page-box{
    width: 100%;
  }

  .contact-page-section{
    padding-top: 48px;
  }
  
}

