
.usaxelo{
    display: flex;
    width: 100%;
    padding-top: 118px;
    padding-bottom: 159px;
    gap: 31px;
}

.usaxelo-name{
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}

.usaxelo-grid{
    padding-top: 31px;
    width: 100%;
    display: grid;
    grid-template-columns: 347px 347px 347px;
    grid-template-rows: 259px 259px 259px;
    justify-content: space-between;
    gap: 20px;
}

.usaxelo-card{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: relative;
}

.usasaxelo-img{
    width: 100%;
    object-fit: cover;
    position: relative;
}

.usaxelo-cover{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    bottom: 0%;
    background: linear-gradient(
        to bottom,
        rgba(0, 51, 153, 0) 0%, 
        rgba(0, 22, 77, 1) 100% 
    );
    border-radius: 10px;
    transition: all 0.3s ease-in;
}

.usaxelo-card:hover .usaxelo-cover{
    height: 40%;
    bottom: 0%;
    top: 60%;
    background-color: #003399;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.usaxelo-header{
    position: absolute;
    z-index: 10;
    width: 241px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
}


@media (max-width:1200px) {
    .usaxelo-grid{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}



@media (max-width:1090px) {
    .usaxelo{
        padding-top: 48px;
    }
    
}

@media (max-width:768px) {
    .usaxelo{
        padding-top: 48px;
    } 

    .usaxelo-card{
        width: 310px;
    }

    .usasaxelo-img{
        width: 310px;
    }
}